body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 520px;
  user-select: none;
  background: url(../../images/fon.jpg) 50% 50% no-repeat;
}

* {
  font-family: 'Linux', sans-serif;
}

@media screen and (max-width: 1899px) {
  body {
    zoom: 99%;
  }
}
@media screen and (max-width: 1600px) {
  body {
    zoom: 87%;
  }
}

@media screen and (max-width: 1366px) {
  body {
    zoom: 72%;
  }
}

@media screen and (max-width: 1024px) {
  body {
    zoom: 60%;
  }
}

@media screen and (max-width: 800px) {
  body {
    zoom: 47%;
  }
}
